**/.class
**/.DS_Store
**/coverage
**/node_modules

**/npm-debug.log

# Serverless directories
.serverless

# VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Files with secret data
config/infra/dev.yml
config/infra/demo.yml
config/infra/configuration.json
config/infra/files/rstudio/secret.txt
